# dojo/AMD snippets
snippet strict
	'use strict';
# log snippets
snippet log
	console.log(${1});
snippet trace
	console.trace(${1});
snippet des
	describe('${1}', function () {
	});
snippet it
	it('${1}', function () {
	});
# dojo snippets
snippet doc
	/**
	 * ${1}
	 */
